<a href="https://colab.research.google.com/github/RengarajR404/Lab-session-1/blob/main/19CSE305_Pandas_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 19CSE305 ML - Pandas Exercise Questions - 30th Sep 2022

### Task 1. Go to https://www.kaggle.com/openfoodfacts/world-food-facts/data

### Task 2. Download the dataset to your computer and unzip it.

### Task 3. Use the tsv file and assign it to a dataframe called food

In [1]:
! pip install -q kaggle
from google.colab import files
files.upload()
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets download -d openfoodfacts/world-food-facts
! unzip world-food-facts.zip

import pandas as pd
import numpy as np
food = pd.read_csv('en.openfoodfacts.org.products.tsv', sep="\t")

mkdir: cannot create directory ‘/root/.kaggle’: File exists
world-food-facts.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  world-food-facts.zip
replace en.openfoodfacts.org.products.tsv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Task 4. See the first 5 entries

In [2]:
food.head(n=5)

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,3087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de blé noir,NaN,1kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,4559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,16087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,16094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Task 5. What is the number of observations in the dataset?

In [3]:
food.shape[0]

356027

### Task 6. What is the number of columns in the dataset?

In [4]:
food.shape[1]

163

### Task 7. Print the name of all the columns.

In [5]:
food.columns

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

### Task 8. What is the name of 105th column?

In [6]:
food.columns[104]

'-glucose_100g'

### Task 9. What is the type of the observations of the 105th column?

In [7]:
food.dtypes[105-1]

dtype('float64')

### Task 10. How is the dataset indexed?

In [8]:
food.index

RangeIndex(start=0, stop=356027, step=1)

### Task 11. What is the product name of the 19th observation?

In [9]:
food.iloc[18].product_name

'Lotus Organic Brown Jasmine Rice'

### Task 12. How many columns in the dataset tend have null values?

In [10]:
food.isna().any()

code                       True
url                        True
creator                    True
created_t                  True
created_datetime           True
                           ...
carbon-footprint_100g      True
nutrition-score-fr_100g    True
nutrition-score-uk_100g    True
glycemic-index_100g        True
water-hardness_100g        True
Length: 163, dtype: bool

### Task 13. Find the number of null values present under each column?

In [11]:
food.isna().sum()

code                           26
url                            26
creator                         3
created_t                       3
created_datetime               10
                            ...
carbon-footprint_100g      355749
nutrition-score-fr_100g    101171
nutrition-score-uk_100g    101171
glycemic-index_100g        356027
water-hardness_100g        356027
Length: 163, dtype: int64

### Task 14. Create a dictionary with keys to be column names in the dataset and values to number of values under each column. Print the dictionary by iterating through its elements using a for loop.

In [ ]:
my_dictionary = food.to_dict(orient = 'list')
for x, y in my_dictionary:
  print(x, y)

### Task 15. Display the values associated with all columns from row 108 to 208?

In [21]:
food.iloc[:,107:208]

,-maltose_100g,-maltodextrins_100g,starch_100g,polyols_100g,fiber_100g,proteins_100g,casein_100g,serum-proteins_100g,nucleotides_100g,salt_100g,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,3.6,3.57,NaN,NaN,NaN,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,NaN,NaN,NaN,NaN,7.1,17.86,NaN,NaN,NaN,0.63500,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,NaN,NaN,NaN,NaN,7.1,17.86,NaN,NaN,NaN,1.22428,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,NaN,NaN,NaN,NaN,5.7,8.57,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356022,NaN,NaN,NaN,NaN,0.0,0.00,NaN,NaN,NaN,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
356023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356026,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN