<a href="https://colab.research.google.com/github/RengarajR404/Lab-session-1/blob/main/Ml_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

In [2]:
import numpy as np

In [9]:
import pandas as pd
import seaborn as sms
import matplotlib.pyplot as plt

In [10]:
data1 = [["apple", 10, 240],["orange", 230, 10], ["mango", 100, 45]]
df1 = pd.DataFrame(data1, columns = ["Name", "quantity", "price"])

In [11]:
df1

     Name  quantity  price
0   apple        10    240
1  orange       230     10
2   mango       100     45

In [12]:
data2=[[120,100,76, "No"],[160,200,128,"Yes"], [170,200,128, "Yes"], [130,110,82, "No"], [140, 180, 90, "No"], [155,180,112, "Yes"],[160,220,108,"Yes"], [142,108,92,"No"], [136,112,90,"No"],[102,100,82,"No"]]
df2 = pd.DataFrame(data2, columns = ["Bp", "GL","HR","Heart Disease"])
df2

    Bp   GL   HR Heart Disease
0  120  100   76            No
1  160  200  128           Yes
2  170  200  128           Yes
3  130  110   82            No
4  140  180   90            No
5  155  180  112           Yes
6  160  220  108           Yes
7  142  108   92            No
8  136  112   90            No
9  102  100   82            No

In [16]:
iris ="https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
df3 = pd.read_csv(iris, sep=",", names = names)
df3

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [19]:
df3.head

<bound method NDFrame.head of      sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [20]:
df3.tail

<bound method NDFrame.tail of      sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [21]:
df3.sample(5)

     sepal_length  sepal_width  petal_length  petal_width           class
41            4.5          2.3           1.3          0.3     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
104           6.5          3.0           5.8          2.2  Iris-virginica
107           7.3          2.9           6.3          1.8  Iris-virginica
25            5.0          3.0           1.6          0.2     Iris-setosa

In [22]:
df3.shape

(150, 5)

In [24]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [26]:
df3['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [28]:
df3.duplicated().sum()

3

In [30]:
df3.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool